.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
}

.logo {
	margin-left: 2.3em;
	align-self: center;

	a {
		text-decoration: none;
	}
}

nav {
	margin: 0 0.8em 0 0;
	align-self: center;
}

header ul {
 display: flex;
 flex-flow: row wrap;
 list-style-type: none;
}

header ul li {
 padding: 0 1.4em 0 0;
 font-size: 0.9em;
}