.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90vw;
	border-bottom: solid black 0.4px;
	margin-bottom: $margin;
}

.logo {
	align-self: center;

	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
		color: $black;
	}
}

nav {
	margin: 0 0.8em 0 0;
	align-self: center;
}

header ul {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
}

header ul li {
	padding: 0 0 0 1.4em;
	font-size: 0.9em;

	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
		color: $black;
	}
}