.form-header {
	width: 80vw;
	margin-bottom: $margin;
}

form {
	width: 80vw;

	.form-field {
		margin-bottom: $margin * 2;

		label {
			display: block;
			margin-bottom: $margin / 2;
			font-weight: 600;
			text-transform: uppercase;
		}

		select, input {
			display: block;
			margin-bottom: $margin / 2;
			padding: $padding;
			width: 90%;
		}
	}
}

@media only screen and (min-width: 768px) {

	.form-header {
		width: 50vw;
	}

	form {
		width: 50vw;
	}
}