<footer>
	<p>Built in 2018 by
		<a href="https://twitter.com/jrobertkeller?lang=en" alt="Jared Keller" title="Jared Keller">Jared Keller</a>
		&
		<a href="https://langp.me" alt="Phil Lang" title="Phil Lang">Phil Lang</a>
	</p>
</footer>