<header class="header-container">
	<div class="logo">
		<a href="/"><h2>Bob's Chico</h2></a>
	</div>
	<nav role=”navigation”>
		<ul class="container">
			<li><a href="/map">Map</a></li>
			<li><a href="/submission">Submit</a></li>
	   </ul>
	</nav>
</header>

