<header class="header-container">
	<div class="logo">
		<a href="/"><h2>Bob's Chico</h2></a>
	</div>
	<nav role=”navigation”>
		<ul class="container">
			<img src="./images/nav-icon.svg" alt="" onclick="openNav()">
	   </ul>
	</nav>
</header>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
		<a href="/">Home</a>
    <a href="/map">Map</a>
    <a href="/submission">Submit</a>
		<a href="mailto:jared.keller@theodi.org">Get in touch</a>
  </div>
</div>

