<nav class="navbar navbar-light bg-light justify-content-between">
  <a href="/"><h1>Bob's Chico</h1></a>
  <div role=”navigation”>
    <img src="./images/nav-icon.svg" alt="" onclick="openNav()">
  </div>
</nav>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
		<a href="/" alt="Bob's Chico Homepage" title="Bob's Chico Homepage">Home</a>
    <a href="/map" alt="Bob's Chico Map" title="Bob's Chico Map">Map</a>
    <a href="/submission" alt="Bob's Chico Submit" title="Bob's Chico Submit">Submit</a>
    <a href="/about" alt="Bob's Chico About" title="Bob's Chico About">About</a>
		<a href="mailto:jared.keller@theodi.org" alt="Bob's Chico - Get in touch" title="Bob's Chico - Get in touch">Get in touch</a>
  </div>
</div>
