<div class="content-header">
  <p>Bob Keller spent over forty years building and remodelling homes in his
    adopted hometown of Chico, California.</p>
  <p>He loved the creative aspect of his job - showing up to a new jobsite and
    working out how to transform it into something that his clients would love
    and take pride in. I can remember sitting with him on the tailgate of his
    truck, munching on a Sausage Mcmuffin w/ Egg®, listening and watching as he
    sketched in the air what the house we were going to build would look like.
    We were parked in an empty lot, but it was clear he not only saw every detail
    in his mind, but the steps required to get there.</p>
  <p>And though I know he disliked a few parts of the job (pouring concrete was
    never his favorite, which is probably why he always drafted us kids to help
    out) I know he'd tell you he loved what he did - not only the work itself,
    but building relationships with the people he was working for and with.
    Multiple times I saw him (politely) refuse payment for parts of a job simply
    because he liked the people he was working for and wanted to bless them.
    Often, he would hire (and overpay) my friends and I for a job, not because
    he desperately needed our help (in truth, we probably slowed him down) but
    because he loved getting to know his son's friends.</p>
  <p>Among the many things that he taught me, one thing stands out: If you love
    what you do, you'll never work a day in your life. It's a simple axiom, but
    one that I think of often and have tried to live by.</p>
  <p>In that sense, this map is not a catalogue of all the places my dad punched
    the clock over the years, but of all the places where he did what he loved -
    communing with people and building friendships. It's a map of the impact he
    had not only on the physical structure of his hometown (and elsewhere), but
    the impact he had on the people who lived there.</p>
  <p>I hope you enjoy the map - I know my family will.</p>
  <p>God bless.</p>
</div>
