<div class="content">
  <h2>This website is a memorial to Bob Keller, a man who spent forty years
    building homes in and around his adopted hometown of Chico, California. It
    is an effort to document the impact he had on Chico and its people.</h2>
  <p>If my dad ever did some work for you, or if you ever worked with him on a
    job, I would love it if you'd <a href="/submission" alt="Submission" title="Submission">fill out the form</a>.
    If he worked for you at multiple addresses or on multiple jobs over the
    years, feel free to fill out the form multiple times.</p>
  <p>After you've entered the address of the jobsite, please enter as much
    additional information as you can remember about the job - e.g. the type of
    work, the decade in which the work was done, and any helpers or hired hands
    you can remember.</p>
  <p>If you have a memory of my dad and would like to attach it to the listing,
    please feel free to write it in the section marked "Reminiscence or anecdote".</p>
  <b>So, do you remember a job that Bob worked on, why not
  	<a href="/submission" alt="Submission" title="Submission">add it to the map</a>?
  </b>
</div>
<img src="./images/bob-keller-crop.jpg" alt="Bob Keller Portrait">
<div class="content">
  <p>As more and more people submit their memories, the results will be compiled
    and <a href='/map' alt="Bob's Chico Map" title="Bob's Chico Map">displayed in an interactive map</a>.</p>
  <p>Early next year I hope to turn the interactive map into an art print.
    If you would like a copy of that print, tick the button in the form to
    register your interest and write down your email.
  </p>
</div>
