<div class="body-container">
	<h2>Single Line Explainer</h2>
	<p>Explanation paragraph</p>
	<p>Do you remember a job that Bob worked on, why not <a href="/submission">add it to the map</a>?</p>
	<img src="./images/bob-keller-crop.jpg" alt="">
</div>
