<div class="body-container">
	<div class="map-header">
		<h1>Bob's Map</h1>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua."</p>
	</div>
	<div id="map"></div>
</div>