.btn {
  display: block;
  width: 30%;
  float: right;
  padding: 10px;
  background: #24b47e;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2); }

.btn:hover,
.btn:focus {
  outline: none;
  background: #2AA172; }

.btn:active {
  transform: translateY(1px); }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #D3D3D3;
  font-family: -apple-system, 'Segoe UI', sans-serif; }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw; }

.logo {
  margin-left: 2.3em;
  align-self: center; }
  .logo a {
    text-decoration: none; }

nav {
  margin: 0 0.8em 0 0;
  align-self: center; }

header ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none; }

header ul li {
  padding: 0 1.4em 0 0;
  font-size: 0.9em; }

.form-header {
  width: 80vw;
  margin-bottom: 1em; }

form {
  width: 80vw; }
  form .form-field {
    margin-bottom: 2em; }
    form .form-field label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: 600;
      text-transform: uppercase; }
    form .form-field select, form .form-field input {
      display: block;
      margin-bottom: 0.5em;
      padding: 1em;
      width: 90%; }
