.btn {
  display: block;
  width: 30%;
  float: right;
  padding: 10px;
  background: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2); }

.btn:hover,
.btn:focus {
  outline: none;
  background: #000000; }

.btn:active {
  transform: translateY(1px); }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  font-family: Helvetica, Sans-Serif;
  text-align: left; }

.body-container {
  text-align: left;
  width: 90vw; }

@media only screen and (min-width: 768px) {
  .body-container {
    text-align: left;
    width: 50vw; } }

@media only screen and (min-width: 992px) {
  .body-container {
    text-align: left;
    width: 40vw; } }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  border-bottom: solid black 0.4px;
  margin-bottom: 1em; }

.logo {
  align-self: center; }
  .logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
    text-decoration: none;
    color: #000000; }

nav {
  margin: 0 0.8em 0 0;
  align-self: center; }

header ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none; }

header ul li {
  padding: 0 0 0 1.4em;
  font-size: 0.9em; }
  header ul li a:link, header ul li a:visited, header ul li a:hover, header ul li a:active {
    text-decoration: none;
    color: #000000; }

#map {
  height: 400px; }

@media only screen and (min-width: 768px) {
  #map {
    height: 600px; } }

.form-header {
  width: 80vw;
  margin-bottom: 3em; }

form {
  width: 80vw;
  margin-bottom: 4em; }
  form .form-field {
    margin-bottom: 2em; }
    form .form-field label {
      display: block;
      margin-bottom: 0.5em;
      font-weight: 600;
      text-transform: uppercase; }
    form .form-field select, form .form-field input, form .form-field textarea {
      font-family: inherit;
      font-size: inherit;
      display: block;
      margin-bottom: 0.5em;
      padding: 1em;
      width: 90%; }

@media only screen and (min-width: 768px) {
  .form-header {
    width: 40vw; }
  form {
    width: 40vw; } }
