.map-header {
	margin-bottom: $margin * 3;
	padding-bottom: $padding;
	border-bottom: solid $light-grey 0.2px;
}

#map {
	height: 600px;
	z-index: 0;
}

@media only screen and (min-width: 768px) {

	#map {
		height: 500px;
	}
}