.form-header {
	margin-bottom: $margin * 3;
	padding-bottom: $padding;
	border-bottom: solid $light-grey 0.2px;
}

form {
	margin-bottom: $margin * 4;

	.form-field {
		margin-bottom: $margin * 2;

		label {
			display: block;
			margin-bottom: $margin / 2;
			font-weight: 600;
			text-transform: uppercase;
		}

		select, input, textarea {
			font-family: inherit;
			font-size: inherit;
			display: block;
			margin-bottom: $margin / 2;
			padding: $padding;
			width: 100%;
		}
	}
}
