html {
	height: 100%;
}

body {
	background: $white;
	font-family: Helvetica, Sans-Serif;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 0;
}

.body-container {
	width: 100vw;
	margin-bottom: $margin * 3;
}
